.portfolio-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.card {
  max-width: 330px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 0.5rem;
  background: #6e7f90;
}
.card img {
  /*width: 100%;
  height: auto;
  max-height: 37%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.info-block {
  padding: 15px;
}
.card-description {
  font-size: 1.2rem;
}
.card-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .portfolio-container {
    flex-direction: column;
  }
}
